body{
    background-color:whitesmoke;
}
header{
    position: relative;
    align-items: center;
}
footer{
  position: relative;
  align-items: center;
}
.PDFcontainer{
  display: flex;
}
.containerChild{
  width: 50%;
  float: left;
  padding: 20px;
}
ul li {
    position: relative;
    float: left;
    align-items: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 810px;
    background-color: green;
  }
  
  ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
#login{
  position: relative;
  align-items: center;
}

body.Dark{
  background-color: rgb(144, 238, 149);
}
  
 
.active {
    background-color: green;
  }
  
 